<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Train Tracker</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/trains">All Trains</a></li>
            <li><a href="/trains/new">New Train</a></li>
        </ul>
    </div>
</nav>