<nav>
    <div class="nav-wrapper">
        <a href="/"  <i class="medium material-icons">home</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/students/new">POST</a></li>
            <li><a href="/views/saved.handlebars">VIEW SAVED</a></li>
            <li><a href="/students">LIST</a></li>
        </ul>
    </div>
</nav>