<nav>
    <div class="nav-wrapper">
        <a href="/"  <i class="brand-logo">FreshDev</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/students/new" class="nav-tag">POST</a></li>
            <li><a href="/students/saved" class="nav-tag">SAVED</a></li>
            <li><a href="/students" class="nav-tag">LIST</a></li>
        </ul>
    </div>
</nav>