{{> navbar}}

<div class="container">
    <div class="row">

        <div class="row">
            <div class="col s4">
                <p>
                    <label>
                        <input id="indeterminate-checkbox" type="checkbox" />
                        <span>JavaScript</span>
                    </label>
                </p>
            </div>
            <div class="col s4">
                <p>
                    <label>
                        <input id="indeterminate-checkbox" type="checkbox" />
                        <span>Python</span>
                    </label>
                </p>
            </div>
            <div class="col s4">
                <p>
                    <label>
                        <input id="indeterminate-checkbox" type="checkbox" />
                        <span>React</span>
                    </label>
                </p>
            </div>

            <div class="col s4">
                <p>
                    <label>
                        <input id="indeterminate-checkbox" type="checkbox" />
                        <span>React</span>
                    </label>
                </p>
            </div>

                <div class="col s12">

                    <a class="waves-effect waves-light btn">Search</a>
                </div>

                {{#each languages}}
            <div class="col s4">
                <p>
                        <input id="indeterminate-checkbox" type="checkbox" />
                        <input type="hidden" value={{id}} id="language-id" />
                        <span>{{language}}</span>
                </p>
            </div>
            {{/each}}
        </div>
    </div>
</div>
