{{> navbar}}

{{!-- POST Form--}}

<h2 class="post-title center-align" id="post-header"> New Student Post </h2>
<div class="container" id="main-container">
    <div class="row">
        <form class="col s12" id="new-post-form">
            {{> student-form}}

            {{!-- Submit Button --}}
            <button class="btn" id="rest-btn" type="submit" name="action">Submit Your Post
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>
</div>
<div class="footer-post" id="post-footer">
    <div class="container center-align">
        © 2021 Created By: Brian Hestir, Caleb Glorvigen, Sahil Patel, Sungpil An.
    </div>
</div>
<script type="text/javascript" src="/js/post.js"></script>