{{> navbar}}

  {{!-- POST Form--}}
 
    <h1 class="post-title center-align"> New Student Post </h1>
    <div class="container">
        <div class="row">
            <form class="col s12" id="new-post-form">
                {{> student-form}}

                {{!-- Submit Button --}}
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit Your Post
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/post.js"></script>