/* Fonts */
/* Fredericak the Great */
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
/* Titan One */
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Titan+One&display=swap");
/* Bungee Inline */
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
/* Jomhuria */
@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
/* Anton */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
/* Russon One */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Russo+One&display=swap");
/* Noto Serif */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

img {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

/* To make html element fill screen */
html,
body {
  height: 100%;
}

/* To make html element fill screen */
html {
  height: 100%;
}

/* To make html element fill screen */
body {
  min-height: 100%;
  /* background-color: rgb(73, 73, 73); */
}

/* Adjust element opacity */
header,
nav {
  opacity: 0.8;
  background-color: #f08080;
}

p {
  font-weight: lighter;
  font-family: "Titan One";
  font-size: 25px;
  color: #f08080;
}
.studentName {
  font-weight: Bold;
  font-family: "Noto Serif";
  color: #f08080;
}
.list-items {
  font-weight: bold;
  font-family: "Noto Serif";
  font-size: 25px;
  color: black;
}
.creditDiv {
  font-family: "Quicksand";
  font-size: large;
  -webkit-text-stroke: 0.25px black;
  color: white;
}

.creditLink {
  -webkit-text-stroke: 0.25px black;
  color: white;
  text-decoration: none;
}

/* Navbar */
.brand-logo {
  color: ivory;
  font-weight: 500;
  margin-left: 10px;
  font-family: "Titan One", cursive;
}

#nav-tag {
  color: ivory;
  font-weight: 500;
  font-family: "Titan One", cursive;
}

/* Search */
.search-tag {
  color: #f08080;
  font-weight: 600;
  font-family: "Bungee Inline", cursive;
  -webkit-text-stroke: 0.5 black;
  font-size: 50px;
}
.search-label {
  color: black;
  font-weight: 300;
  font-size: 50px;
  font-family: "Jomhuria";
}

/* Buttons */
#search-btn {
  display: inline-block;
  color: white;
  font-family: "Jomhuria";
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  background: #f08080;
  border-radius: 8px;
  border: #f08080;
  width: 15%;
  height: 40px;
  padding: 0px;
  margin: 4px;
  float: right;
}
#search-btn:hover {
  background-image: none !important;
  background: lightblue !important;
  color: white;
}
/* rest button */
#rest-btn {
  display: inline-block;
  color: white;
  font-family: "Jomhuria";
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  background: #f08080;
  border-radius: 8px;
  border: #f08080;
  width: 15%;
  height: 40px;
  padding-top: 5px;
  margin: 4px;
}
#rest-btn:hover {
  background-image: none !important;
  background: lightblue !important;
  color: white;
}

/* savebutton */
.saveButton {
  display: inline-block;
  color: white;
  font-family: "Titan One";
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  background: #f08080;
  border-radius: 8px;
  border: #f08080;
  width: 15%;
  height: 40px;
  padding: 0;
}
.saveButton:hover {
  background-image: none !important;
  background: lightblue !important;
  color: white;
}
/* Edit Button */
.edit-btn {
  display: inline-block;
  color: white;
  font-family: "Titan One";
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  background: green;
  border-radius: 8px;
  border: green;
  width: 15%;
  height: 40px;
  padding: 0;
}
.edit-btn:hover {
  background-image: none !important;
  background: lightblue !important;
  color: white;
}
/* Delete Button */
.delete-btn {
  display: inline-block;
  color: white;
  font-family: "Titan One";
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  background: red;
  border-radius: 8px;
  border: red;
  width: 15%;
  height: 40px;
  padding: 0;
}
.delete-btn:hover {
  background-image: none !important;
  background: lightblue !important;
  color: white;
}
/* Header */
#post-header {
  text-align: center;
  font-weight: 500;
  font-family: "Bungee Inline";
  color: #f08080;
}

/* footer */
.footer-copyright {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f08080;
  font-weight: 700;
  color: white;
  flex-shrink: 0;
}

.footer-post {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f08080;
  font-weight: 700;
  color: white;
}
