/* Navbar (For Everypage) */
nav {
    background-color: salmon;
}

/* For POST (Sung) */
.post-title{
    font-weight: bold;
    text-align: center;
}
.post-require{
    font-weight: bold;
    text-align: center;
}